<!-- <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Login</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
    <br />
    <label for="username" class="sr-only">Email address</label>
    <input
      type="email"
      id="username"
      name="username"
      ngModel
      class="form-control"
      placeholder="User Name"
      required
      autofocus
    />
    <br />
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      placeholder="Password"
      required
    />
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form> -->

<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid"> The username and password were not recognized </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Usuário" formControlName="nomeUsuario" required />
        <mat-error> Forneça um nome de usuário válido </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Senha" formControlName="senha" required />
        <mat-error> Forneça uma senha válida </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Entrar</button>
    </form>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
